{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
<style>

    .aligned label {
        display: unset;
        padding: 4px 10px 0 0;
        float: unset;
        width: 100%;
        word-wrap: break-word;
        line-height: 1;
    }
</style>

{% if validlink %}
<div class="forgot-pass" style="text-align: center">
<p>{% trans "Vă rugăm să introduceți noua parolă de două ori, astfel încât să putem verifica dacă ați introdus-o corect." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'Parolă nouă' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirmare parolă:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% trans 'Resetează parola' %}">
</fieldset>
</form>
</div>
{% else %}

<p>{% trans "Link-ul de resetare al parolei este nevalid, probabil pentru că a fost deja folosit. Vă rugăm să solicitați o nouă resetare a parolei." %}</p>

{% endif %}

{% endblock %}
