{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}

<p>{% trans "V-am trimis prin e-mail instrucțiuni pentru setarea parolei dvs. Dacă există un cont cu e-mailul introdus, ar trebui să le primiți în scurt timp." %}</p>

<p>{% trans "Dacă nu primiți un e-mail, asigurați-vă că ați introdus adresa cu care v-ați înregistrat și verificați folder-ul de spam." %}</p>

{% endblock %}
