{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}




{% block content %}
<style>
    h1{
        display: none;
    }
    .aligned label {
        display: unset;
        padding: 4px 10px 0 0;
        float: unset;
        width: 100%;
        word-wrap: break-word;
        line-height: 1;
    }
</style>

<div class="forgot-pass" style="text-align: center">

<p>Ați uitat parola? Nu este nicio problemă! Introduceți adresa de email a contului și vă vom trimite instrucțiuni pentru a recupera-o.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Adresă de email:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Resetează parola' %}">
</fieldset>
</form>
</div>

{% endblock %}
